:root {
  --main-color1: #78be20;
  --main-color2: #6d358f;
  ;
  --social-media-strip: rgb(17, 146, 238)
}
/* mobile nav css start*/
.mobile-nav {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1050;
}

.mobile-nav.active {
  transform: translateX(0);
  display: block;
}
.social-icons a {
  color: var(--main-color1);              
  margin-right: 15px;        
  font-size: 24px;            
  transition: color 0.3s ease, transform 0.3s ease; 
  padding: 8px;              
}

.social-icons a:hover {
  color: var(--main-color2);          
  transform: scale(1.2);      
}

/* Menu Items Styling */
.mobile-nav a {
  padding: 15px 10px;         
  color:var(--main-color1);             
  text-decoration: none;      
  transition: color 0.3s ease, background-color 0.3s ease;
}

.mobile-nav a:hover {
  color:var(--main-color2);               
  border-radius: 5px;        
}

#overlay {
  display: none;
  z-index: 1040;
  
}

#overlay.active {
  display: block;
}


/* mobile nav css end*/
.btn-outline-primary {
  color: var(--main-color1);
  border-color:var(--main-color1);
}
.image-overlay {
  width: 150px;
  height: auto;
  filter: brightness(0) saturate(100%) invert(53%) sepia(69%) saturate(543%) hue-rotate(89deg) brightness(92%) contrast(97%);
}

.navbar-brand-img {
  width: 80px;
  height: auto;
  padding-right: 10px;
}

.font-color-change:hover {
  color: var(--main-color2) !important;
}

.site-main-name-font {
  color: var(--main-color1);
}

.site-sub-name-color {
  color: var(--main-color2);
}

.sub-menu {
  background-color: #efcaf7;
}

main-back-color {
  background-color: var(--main-color1);
}

.desktop-nav .nav-link {
  font-weight: 500;
}

.custom-font {
  font-family: "Roboto", sans-serif;
}

.main-bg-color {
  background-color: var(--main-color1);
}

.sub-bg-color {
  background-color: var(--main-color2);
}

.text-shadow {
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.8);
}
.fade-in-text span {
  opacity: 0;
  display: inline-block;
  animation: fadeIn 0.5s forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Welcome section */
.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%);
  opacity: 0.8;
}

.welcome-section {
  background-size: cover;
  background-position: center;
  /* padding: 10px 50px; */
  position: relative;
}

.welcome-content {
  max-width: 300px;
}

.welcome-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--main-color1);
  margin-bottom: 15px;
}

.custom-title {
  font-size: 3rem;
  font-weight: bold;
}

.custom-highlight {
  color: var(--main-color1);
}

.custom-btn {
  background-color: var(--main-color1);
  border: none;
  color: white;
  border-radius: 30px;
  /* Rounded edges */
  padding: 10px 20px;
}

.custom-btn:hover {
  background-color: var(--main-color1);
}

/* Our care cards*/
.custom-heading {
  font-size: 2.5rem;
  font-weight: bold;
}

.custom-highlight {
  color: var(--main-color1);
}

.feature-card {
  background-color: white;
  color: rgba(0, 0, 0, 0.747);
  border: 2px solid var(--main-color2);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.feature-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: rgb(234, 255, 234) !important;
}

.feature-icon {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px;
}

.feature-icon img {
  width: 40px;
  height: 40px;
}

.custom-btn {
  background-color: var(--main-color1);
  border: none;
  color: white;
  border-radius: 5PX;
  padding: 10px 20px;
}

/* event table */
.event-table {
  background-image: url('../images/tableB.png');
  border: 2px solid var(--main-color1);
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 2px solid var(--main-color1);
  padding: 10px;
  text-align: left;
}

/* footer */
.footer {
  background-color: #ffffff;
  padding: 60px 0;
  color: #000;
}

.footer-brand-img {
  width: 150px;
  height: auto;
  padding-right: 10px;
}

.footer .logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--main-color1);
  display: flex;
  align-items: center;
}

.footer .logo img {
  height: 40px;
  margin-right: 10px;
}

.footer .social-icons a {
  color: var(--main-color1);
  margin-right: 10px;
  font-size: 20px;
  text-decoration: none;
}

.footer h5 {
  font-weight: bold;
  margin-bottom: 20px;
}

.footer a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
}

.footer a:hover {
  color: var(--main-color1);
}

.footer .contact-info p {
  margin: 0;
  font-size: 14px;
}

.footer .instagram img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.instagram-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}