:root {
  --main-color1:  rgb(68, 243, 52);
  --main-color2:  #d331f3;
  --social-media-strip:rgb(17, 146, 238)
}
.mobile-nav {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1050;
}
.mobile-nav.active {
  transform: translateX(0);
}
#overlay {
  display: none;
  z-index: 1040;
}
#overlay.active {
  display: block;
}
.font-color-change:hover {
  color: var(--main-color2) !important;
}
.site-main-name-font{
  color:var(--main-color);
}
.site-sub-name-font{
  color:var(--main-color2);
}
.sub-menu{
  background-color: #efcaf7;
}
.desktop-nav .nav-link {
  font-weight: 500;
}
.custom-font {
  font-family: "Roboto", sans-serif;
}
.media-strip-color{
  background-color: var(--main-color1);
}
.f-bottom{
  background-color: var(--main-color2);
}

.custom-title {
  font-size: 3rem;
  font-weight: bold;
}
.custom-highlight {
  color:var(--main-color1);
}
.custom-btn {
  background-color:var(--main-color1);
  border: none;
  color: white;
  border-radius: 30px; /* Rounded edges */
  padding: 10px 20px;
}
.custom-btn:hover {
  background-color:var(--main-color1);
}