:root {
  --main-color1: #78be20;
  --main-color2:  #6d358f;;
  --social-media-strip:rgb(17, 146, 238)
}
.mobile-nav {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1050;
}
.mobile-nav.active {
  transform: translateX(0);
}
#overlay {
  display: none;
  z-index: 1040;
}
#overlay.active {
  display: block;
}
.image-overlay {
  width: 150px; 
  height: auto;
  filter: brightness(0) saturate(100%) invert(53%) sepia(69%) saturate(543%) hue-rotate(89deg) brightness(92%) contrast(97%);
}
.navbar-brand-img {
  width:120px;
  height: auto;
  padding-right: 10px;
}
.font-color-change:hover {
  color: var(--main-color2) !important;
}
.site-main-name-font{
  color:var(--main-color1);
}
.site-sub-name-color{
  color:var(--main-color2);
}
.sub-menu{
  background-color: #efcaf7;
}
hor-color{
  background-color: var(--main-color1);
}
.desktop-nav .nav-link {
  font-weight: 500;
}
.custom-font {
  font-family: "Roboto", sans-serif;
}
.main-bg-color{
  background-color: var(--main-color1);
}
.sub-bg-color{
  background-color: var(--main-color2);
}
.custom-title {
  font-size: 3rem;
  font-weight: bold;
}
.custom-highlight {
  color:var(--main-color1);
}
.custom-btn {
  background-color:var(--main-color1);
  border: none;
  color: white;
  border-radius: 30px; /* Rounded edges */
  padding: 10px 20px;
}
.custom-btn:hover {
  background-color:var(--main-color1);
}
/* Our care cards*/
.custom-heading {
  font-size: 2.5rem;
  font-weight: bold;
}
.custom-highlight {
  color: var(--main-color1);
}
.footer-brand-img {
  width:150px;
  height: auto;
  padding-right: 10px;
}
.feature-card {
  background-color: var(--main-color2);
  color: white;
  border-radius: 15px; 
  padding: 20px;
  text-align: center;
  height: 100%; 
  justify-content: space-between; 
  flex-direction: column;
}
.feature-icon {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px;
}
.feature-icon img {
  width: 40px;
  height: 40px;
}
.custom-btn {
  background-color:var(--main-color1);
  border: none;
  color: white;
  border-radius: 5PX;
  padding: 10px 20px;
}

